@media screen and (max-width: 1260px) {
  .services-page {
    .tabs__wrapper {
      display: none;
    }
    .tabs__dropdown {
      display: block;
    }
    .hero__inner {
      display: flex;
      justify-content: flex-end;
    }
    .tabs {
      &__inner {
        flex-direction: column;
      }
      &__items {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1060px) {
  // .services-page {
  //   .tabs__wrapper {
  //     display: none;
  //   }
  //   .tabs__dropdown {
  //     display: block;
  //   }
  // }

  .services__cards-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    height: 600px;
  }
  .hero__inner {
    display: flex;
    justify-content: center;
  }
  .hero__banner {
    margin-top: 150px;
    padding: 26px 20px 40px 32px;
  }
  .hero__title {
    font-size: 40px;
  }

  .reviews__quotes {
    padding: 8px;
    img {
      width: 24px;
      height: 20px;
    }
  }
  // about-page
  // ================
  .about-page {
    .hero__inner {
      display: flex;
      justify-content: flex-end;
    }
    .team__row {
      gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // contact-page
  // ================
  .contact-page {
    .hero__inner {
      display: flex;
      justify-content: flex-end;
    }
  }
  // servises-page
  // ================

  .services-page {
    .call__text {
      width: 90%;
    }

    .call__box {
      width: 70%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .about-page {
    .team__row {
      justify-items: center;
      gap: 80px 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .contact-page {
    .contact__frame-wrapper {
      max-width: 600px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 990px) {
  .about__inner {
    align-items: center;
    flex-direction: column-reverse;
  }
  .about__card {
    max-width: 604px;
    position: relative;
    top: -100px;
  }
  .about__img {
    position: relative;
    left: 0;
  }

  // about-page
  //   =============================
  .about-page {
    .hero__banner {
      padding: 24px 80px 32px !important;
    }
    .hero__title {
      font-size: 40px;
    }
    // about
    //===============
    .about__inner {
      gap: 0px;
    }
    .about__row {
      padding: 0 !important;
      align-items: center;
    }
    .row-top {
      flex-direction: column-reverse;
    }
    .row-bottom {
      flex-direction: column;
    }
    .about__card {
      //   max-width: 604px;
      position: relative;
      top: -100px;
    }
    .img-left {
      width: 100% !important;
      height: auto !important;
      //   width: 660px !important;
      left: 0 !important;
    }
    // team
    //===============
    .team {
      margin-top: 0;
    }

    .team__title {
      margin-bottom: 40px;
    }
    .team__row {
      display: grid;
    }
    .team__person {
      max-width: 100%;
    }
    .team__info {
      bottom: -50px;
      //   width: 380px;
    }
    // .team__title {
    //   margin-bottom: 0px;
    // }
    // call
    //===============
    .call {
      margin-top: 100px;
    }
    // values
    //===============
    .values {
      margin-top: 80px;
    }
    .values__wrapper {
      padding: 70px 20px;
    }
    // reviews
    //===============
    .reviews {
      margin-top: 80px;
    }
    // footer
    //===============

    .footer {
      margin-top: 50px;
    }
  }

  // services-page
  // ======================
  .services-page {
    .hero__banner {
      padding: 24px 80px 32px !important;
    }
    .hero__title {
      font-size: 40px;
    }
    .reviews {
      margin-top: 0px;
    }
    .footer {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  // .nav__menu {
  //   display: none;
  // }
  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
  }

  .nav__toggle {
    background-color: $light;
    display: flex;
  }

  .nav__menu.active {
    display: flex;
  }
  .nav__list {
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    gap: 32px !important;
  }
  .nav__testimonials {
    display: none;
  }
  ul .nav__points {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px !important;
  }
  .hero__banner {
    width: 520px;
    padding: 24px 16px 48px 16px;
  }
  .stats__items {
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
  .central {
    text-align: center;
    width: 200px;
    padding: 20px 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
  }
  .hero__title {
    margin-top: 0;
    font-size: 32px;
  }
  .hero__subtitle {
    font-size: 16px;
  }

  .stats__inner {
    padding: 40px 0;
  }
  .stats__title {
    font-size: 32px;
  }
  .stats__subtitle {
    font-size: 16px;
  }
  .stats__number {
    font-size: 40px;
  }
  .stats__desc {
    font-size: 16px;
  }
  .about__img {
    width: 100%;
    height: auto;
  }
  .services {
    margin-top: 0px;
  }
  .services__cards-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .reviews {
    margin-top: 64px;
  }
  .swiper-slide {
    margin-top: 42px !important;
  }
  .footer__list {
    text-align: center;
    align-items: center;
  }
  .footer__links {
    flex-direction: row;
  }
  .btn-card {
    width: fit-content;
  }
  //
  //
  .feedback__inner {
    align-items: center;
  }
  .feedback__bg {
    max-width: 90%;
    height: auto;
  }
  .feedback__title {
    font-size: 32px;
  }

  // about-page
  //   =============================
  .about-page {
    .hero {
      height: auto;
    }
    .hero__banner {
      width: fit-content;
      padding: 24px 105px 32px;
    }
    // about
    .about__img {
      width: 100%;
      height: 499px;
    }
    .about__card {
      width: 90%;
    }

    // team
    //   =============================

    .team__title {
      margin-bottom: 40px;
    }
    .team__row {
      gap: 60px;
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }

    .team__info {
      bottom: -30px;
      width: 90%;
    }
    .row-bottom {
      margin-top: 0 !important;
    }
    // call
    // ====================
    .call {
      margin-top: 100px;
    }
    .call__form {
      width: 268px;
      padding: 16px;
      top: 14px !important;
    }
    .call__box {
      padding: 24px 16px;
    }
    .call__icons {
      padding: 10px 20px;
    }
    .call__text {
      font-size: 18px;
      padding: 32px;
    }
    .values {
      margin-top: 60px;
    }
    .reviews {
      margin-top: 60px;
    }
  }
  //   contatc {
  .contact-page {
    .contacts {
      margin: 0;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
    }
    .hero__banner {
      width: fit-content;
      padding: 24px 105px 32px;
      //   padding: 16px 50px;
    }
    .info__text {
      font-size: 16px;
    }

    .contacts__inner {
      flex-direction: column;
      align-items: center;
    }
    .contacts__cards {
      padding: 0 !important;
    }

    .contact__card {
      max-width: 335px;
      height: auto;
      width: 100%;
      padding: 30px 57px 30px 16px;
    }

    .contact__title {
      font-size: 24px !important;
    }
    .btn-contact {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 16px 24px;
    }
    .contact__frame-wrapper {
      //   max-width: 768px;
      //   width: 100%;
      height: 426px;

      position: relative;
      bottom: 50px !important;
      top: -50px !important;
    }
    .footer {
      margin-top: 0;
    }
  }
  //servisec-page
  //===============
  .services-page {
    .hero__banner {
      width: fit-content;
      padding: 24px 105px 32px;
    }
    .hero__title {
      // margin-top: 0;
      font-size: 40px;
    }
    .info__text {
      font-size: 16px;
    }
    .tabs {
      margin-top: 41px;
    }

    // .btn-acardion {
    //   box-shadow: -5px 1px 16px 0px rgba(223, 223, 223, 0.7);
    //   padding: 16px;
    // }
    .call__box {
      display: flex;
      justify-content: center;
      padding: 24px 16px 40px !important;
      width: 100%;
      height: 121px;
    }
    .call__form {
      width: 350px;
      height: 88px;
      top: 100px !important;
      bottom: -70px !important;
      left: 50%;
      transform: translateX(-50%);
      padding: 16px 37px !important;
    }
    .call__text {
      font-size: 16px;
    }
    .call__phone {
      font-size: 16px;
    }
    .call__icons {
      padding: 16px 32px;
    }
    .call__icon {
      width: 24px;
      height: 24px;
    }
    .acardion {
      margin-top: 80px;
    }
    .citation {
      height: auto;

      padding: 0 !important;
      width: 95%;
    }
  }
}
@media screen and (max-width: 450px) {
  .btn-contacts {
    padding: 16px 30px !important;
  }
  .hero {
    height: 427px;
  }
  .hero__banner {
    padding: 24px 16px 48px;
    height: 280px;
    margin-top: 72px;
  }
  .stats__inner {
    padding: 40px 0 !important;
  }
  .about {
    margin-top: 0 !important;
    // width: 100%;
  }
  .about__inner {
    padding: 0;
  }
  .about__title {
    font-size: 32px;
  }
  .about__text {
    font-size: 16px;
  }

  .about__card {
    padding: 24px 16px 56px;
    max-width: 90%;
  }
  .stats__items {
    gap: 16px;
  }
  .services {
    margin-top: 0px;
  }
  .services__card {
    height: 144px;
  }
  .services__title {
    margin-bottom: 32px;
  }
  .reviews {
    margin-top: 64px;
  }
  .swiper-slide {
    margin-top: 32px !important;
  }
  .feedback {
    height: auto;
  }
  .feedback__inner {
    padding: 0;
  }
  .feedback__bg {
    padding: 0px 20px 40px 20px;
    border-radius: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
  }
  input::placeholder {
    font-size: 16px !important;
  }
  textarea {
    font-size: 16px !important;
  }
  .footer {
    margin-top: 60px;
  }
  .footer__logo {
    order: -1;
  }
  .footer__menu {
    order: -1;
  }
  .footer__testimonials {
    display: none;
  }
  // .call {
  //   width: 100%;
  // }
  .call.active {
    // width: 100%;
    bottom: 90px;
    right: -30px;
  }
  .about-page {
    .hero {
      height: 235px;
    }
    .hero__banner {
      padding: 16px 62px !important;
      margin: 79px 0 !important;
      height: auto;
    }
    .about__img {
      height: 310px;
    }
    .about__card {
      top: -100px !important;
    }
    // .img-left {
    //   width: 100% !important;
    //   height: auto !important;
    // }
    .btn-card {
      display: none;
    }
    .row-bottom {
      margin-top: -50px;
    }
    // team
    //===========
    .team {
      margin-top: -30px;
    }
    .team__title {
      font-size: 32px;
      margin: 0px;
    }
    // call
    //================
    .call__inner {
      flex-direction: column;
    }
    .call__box {
      padding: 24px 16px 40px;
      width: 100%;
      height: 121px;
    }
    .call__form {
      // width: 350px;
      height: 88px;
      top: 100px !important;
      bottom: -70px !important;
      left: 50%;
      transform: translateX(-50%);
      // padding: 16px 37px !important;
    }
    .call__text {
      font-size: 16px;
    }
    .call__phone {
      font-size: 16px;
    }
    .call__icons {
      padding: 16px 32px;
    }
    .call__icon {
      width: 24px;
      height: 24px;
    }
    .values {
      margin-top: 120px;
    }
    .values__title {
      font-size: 32px;
    }
    .values__cards {
      grid-template-columns: repeat(1, 1fr);
    }
    // =====
    .reviews__title {
      font-size: 32px;
    }
  }
  .contact-page {
    .hero {
      height: 235px;
    }
    .hero__banner {
      margin: 79px 0;
      padding: 16px 50px;
      height: auto;
    }
    .hero__title {
      font-size: 32px;
    }
    .info {
      padding: 40px 20px 56px;
    }
    .contacts {
      margin-top: 32px;
    }
    .contact__card {
      max-width: 335px;
      height: auto;
      width: 100%;
      padding: 30px 57px 30px 16px;
    }

    .footer {
      margin-top: 0;
    }
  }
  .services-page {
    .hero {
      height: 235px;
    }
    .hero__banner {
      margin: 72px 0;
      padding: 16px 50px;
      height: auto;
    }

    .hero__title {
      font-size: 32px;
    }
    .info {
      padding: 40px 20px 56px;
    }
    .reviews {
      margin-top: -80px;
    }
    .about {
      margin-top: 20px !important;
    }
    .about__title {
      font-size: 32px;
    }
    .reviews__title {
      font-size: 32px;
    }
    .acardion {
      margin-top: 60px;
    }
    .accordion {
      font-size: 18px;
    }
    // .citation {
    // }
    .citation__text {
      font-size: 20px !important;
    }
  }
}

// @media screen and (max-width: 440px) {
//   .hero__banner {
//     height: 250px;
//   }
// }
// @media screen and (max-width: 375px) {
// }
